/*.button {
  background-color:green;
  border: none;
  color: white;
  font-size: 16px;
  height: 40px;
  width: 200px;
}

.button:hover {
  background-color: orange;
  border: none;
  color: grey;
  font-size: 16px;
  height: 40px;
  width: 200px;
}*/

body{
/* background-color: #ffffcc;
    background: -webkit-linear-gradient( #ffffcc, #c7d319);
    background:    -moz-linear-gradient( #ffffcc, #c7d319);
    background:         linear-gradient( #ffffcc, #c7d319);
  */
}

.buttonR {
  background-color: red;
  border: none;
  color: white;
  padding: 50px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  cursor: pointer;
}
.round {border-radius: 50%;}
buttonR.pressed {
background-color: green;
}
.center{
text-align: center;
}
tr.spaceUnder>td {
padding-bottom: 5em;
}

.down__container {
    text-align: center;
  }

  .button {
    background-color:green;
    border: none;
    color: white;
    font-size: 16px;
    height: 40px;
    width: 200px;
  }
  
  .top__container {
    margin-top: 20px;
    text-align: center;
  }

  .main__container{
    background-color: #ffffcc;
    height: 100%;
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 36px;
    letter-spacing: 0.2px;
    word-spacing: 4.2px;
    color: #000000;
    font-weight: normal;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
  }

  .button_logo {
    background-color:black;
    border: none;
    color: white;
    font-size: 13px;
    height: 150px;
    width: 150px;
    margin: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
  }
  
  .button_top {
    background-color:black;
    border: none;
    color: white;
    font-size: 13px;
    height: 40px;
    width: 150px;
    margin: 10px;
    border-radius: 12px;
  }

  .button_top span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .button_top span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .button_top:hover span {
    padding-right: 25px;
  }
  
  .button_top:hover span:after {
    opacity: 1;
    right: 0;
  }
  
  .button_down {
    background-color:white;
    border: none;
    color: black;
    font-size: 16px;
    height: 40px;
    width: 150px;
    margin: 10px;
  }

  .button-sub-goal {
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    -webkit-box-shadow: 2px 2px 8px #4f224f;
    -moz-box-shadow: 2px 2px 8px #4f224f;
    box-shadow: 2px 2px 8px #4f224f;
    font-family: Courier New;
    color: #c9eeff;
    font-size: 19px;
    background: #9e9e9e;
    padding: 10px 20px 10px 20px;
    border: solid #211621 3px;
    text-decoration: none;
  }
  
  .button-sub-goal:hover {
    background: #3cb0fd;
    text-decoration: none;
  }

  .grid-cele-glowne {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    grid-gap: 1rem;
  }

  .button-cel-glowny {
    position: relative;
    z-index: 1;
    width: 10rem;
    height: 10rem;
    color: #1a1a1a;
    background: #ed1c5b;
    border-radius: 50%;
    border: none;
  }
