body, html, #root{
  margin: auto;
  font-family: 'Bitter', serif;
  font-size: 18px;

}

#root {
  background-image: url("../resourses/square_bg.png");
  text-align: center;
  height: 100%;
}

.center{
  text-align: center;
}


form input {
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-box-shadow: 2px 2px 3px #666;
	-webkit-box-shadow: 2px 2px 3px #666;
	box-shadow: 2px 2px 3px #666;
	font-size: 20px;
	outline: 0;
  -webkit-appearance: none;
  height: 20px;
  width: 350px;
  text-align: center;
  padding: .55em;
  margin-bottom: 0.5em;
  border: none;
}

.main__container{
  background-size: cover;
  text-align: center;
  height: 100%;
}

a, a:link, a:visited, a:hover, a:active {
  text-decoration: none;
  color: #1b1b1b;
}

.MyHeader {
  background-image: linear-gradient(to bottom, rgba(223, 234, 41, 0.45), rgba(146, 254, 157, 0), rgba(146, 254, 157, 0));
  padding: 16px 0px;
}

.header-button {
  margin: 16px;
  margin-left: 0px;
  text-decoration: none;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  cursor: pointer;
  border: 2px solid rgb(0, 165, 14);
  -webkit-border-radius: 20px;
  border-radius: 20px;
  font: normal "Advent Pro", Helvetica, sans-serif;
  padding: 8px 16px;
  color: rgb(0, 165, 14);
  text-align: center;
  -o-text-overflow: clip;
  text-overflow: clip;
  letter-spacing: 1px;
  background: rgba(0,0,0,0);
  -webkit-transition: background-color 0.3s cubic-bezier(0, 0, 0, 0), color 0.3s cubic-bezier(0, 0, 0, 0), width 0.3s cubic-bezier(0, 0, 0, 0), border-width 0.3s cubic-bezier(0, 0, 0, 0), border-color 0.3s cubic-bezier(0, 0, 0, 0);
  -moz-transition: background-color 0.3s cubic-bezier(0, 0, 0, 0), color 0.3s cubic-bezier(0, 0, 0, 0), width 0.3s cubic-bezier(0, 0, 0, 0), border-width 0.3s cubic-bezier(0, 0, 0, 0), border-color 0.3s cubic-bezier(0, 0, 0, 0);
  -o-transition: background-color 0.3s cubic-bezier(0, 0, 0, 0), color 0.3s cubic-bezier(0, 0, 0, 0), width 0.3s cubic-bezier(0, 0, 0, 0), border-width 0.3s cubic-bezier(0, 0, 0, 0), border-color 0.3s cubic-bezier(0, 0, 0, 0);
  transition: background-color 0.3s cubic-bezier(0, 0, 0, 0), color 0.3s cubic-bezier(0, 0, 0, 0), width 0.3s cubic-bezier(0, 0, 0, 0), border-width 0.3s cubic-bezier(0, 0, 0, 0), border-color 0.3s cubic-bezier(0, 0, 0, 0);
  }
  .header-button:hover {
    color: rgba(255,255,255,1);
    background: rgb(0, 165, 14);
  }

  .header-button:active {
    border: 2px solid rgb(0, 165, 14);
    background: rgba(33,224,163,1);
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    transition: none;
  }

  .button-forgot-pass{
    color: #7f7f7f;
    display: inline-block;
    font: 12px/1 sans-serif;
    right: -19px;
    position: relative;
    text-decoration: none;
    top: 5px;
    transition: color .4s;
  }
  .button-forgot-pass:hover{
    text-decoration:underline;
    
  }  

.header-logo {
  margin: auto;
  margin-top: 16px;
  margin-left: 48px;
  padding: 8px;
  text-decoration: none;
  font-size: 20px;
  font-weight: 200;
}

.welcome {
  margin-top: 200px;
}

.button_logo {
  background-color:black;
  border: none;
  color: white;
  font-size: 13px;
  height: 125px;
  width: 125px;
  margin: 10px;
  margin-top: 0rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}

.button-get-started {
  background-color:rgb(0, 165, 14);
  border: none;
  color: #1b1b1b;
  padding: 6px 20px;
  font-size: 28px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  display: inline-block;
  position: relative;
}	

.button-get-started:hover,	
.button-get-started:focus {	
 background: rgb(5, 170, 5);
}

.button-main {
  background-color:rgb(0, 165, 14);
  border: none;
  color: #1b1b1b;
  padding: 6px 20px;
  font-size: 15px;
  display: inline-block;
  position: relative;
  -webkit-border-radius: 20px;
  border-radius: 20px;
}

.button-main:hover,
.button-main:focus {
  background: rgb(5, 170, 5);
}

h1 { 
  color: #1b1b1b; 
  text-transform: uppercase;
  font-size: 72px; 
  font-weight: 400; 
  line-height: 48px; 
  margin: 0; 
}

h2 { 
  color: #1b1b1b; 
  font-family: 'Source Sans Pro', sans-serif; 
  font-size: 28px; 
  font-weight: 400; 
  line-height: 32px; 
  margin: 0 0 24px; 
}

h3 {
  text-align: left;
  font-family: 'Source Sans Pro', sans-serif; 
  line-height: 32px; 
  margin: 0 0 24px; 
  font-size: 22px; 
  color: black;
}

.div_format{
  margin-top: 100px;
  margin-bottom: 100px;
  margin-left: 450px;
}

.grid-sub-goal {
  display: grid;
    grid-template-columns: repeat(6, 1fr);
  grid-template-rows: auto;
  grid-gap: 1rem;
  grid-row-gap: 4rem;
  align: center;
}

.trash-btn {
  position: absolute;
  z-index: 50;
  left: 80px;
  bottom: 100px;
  display: none;
}



.button-sub-goal {
 position: relative;
  cursor: default;
  z-index: 1;
  width: 130px;
  height: 130px;
  background: #9e9e9e;
  border-radius: 50%;
  border: none;
  font-family: 'PT Sans', sans-serif;
  font-size: 1.5rem;
  transition: 1s;
  transition-timing-function: ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
  }
  .button-sub-goal-done {
    position: relative;
    cursor: default;
    z-index: 1;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    border: none;
    font-family: 'PT Sans', sans-serif;
    font-size: 1.5rem;
    transition: 1s;
    transition-timing-function: ease-in-out;
    background: #088A08;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .button-sub-goal:hover > button {
    display: inline-block;
  }

  .button-sub-goal-done:hover > button {
    display: inline-block;
  }