.top__container {
    text-align: center;
}

.button_top {
    background-color:black;
    border: none;
    color: white;
    font-size: 13px;
    height: 40px;
    width: 150px;
    margin: 10px;
    margin-top: 0rem;
    border-radius: 12px;
}

.button_top span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.button_top span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.button_top:hover span {
    padding-right: 25px;
}

.button_top:hover span:after {
    opacity: 1;
    right: 0;
}
  /*
  .is-sticky {
    /* klasa która zostaje dodana, gdy scrolujemy poniżej headera }*/
.sticky-header {
    height: 20rem;
    top: 0px;
  }
